*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.plg
*.uvgui.*
arm/ObjectFiles/*
arm/t22
arm/FreeRTOS/*
arm/LPCUSB/*
arm/NXPDrivers/*
arm/SystemFiles/*

pic_master/src/PIC_Master.X/nbproject/configurations.xml

pic_master/src/PIC_Master.X/nbproject/Makefile-genesis.properties

pic_master/src/PIC_Master.X/nbproject/Makefile-local-UseXC8.mk

*.mk

pic_master/src/PIC_Master.X/nbproject/Makefile-UseXC8.mk

pic_master/src/PIC_Master.X/nbproject/private/configurations.xml

pic_master/src/PIC_Master.X/nbproject/project.xml

*.swp

*.elf

pic_master/src/PIC_Master.X/nbproject/private/private.xml

arm/RTOSDemo/ObjectFiles/RTOSDemo.elf

arm/RTOSDemo/MainFiles/.i2cTemp.c.swp

*.swp

Master_PIC_Instrumentation/{$088A1002-$01}.1122

Master_PIC_Instrumentation.dvdat

*.p1

*.p1

*.elf

*.hex

*.hxl

*.obj

*.rlf

*.sdb

*.sym

*.cmf

*.elf

*.discard

pic_master/src/PIC_Master.X/nbproject/Makefile-genesis.properties

*.properties

*.p1

*.pre
