*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.plg
*.uvgui.*
arm/ObjectFiles/*
arm/t22
arm/FreeRTOS/*
arm/LPCUSB/*
arm/NXPDrivers/*
arm/SystemFiles/*

pic_master/src/PIC_Master.X/nbproject/configurations.xml

pic_master/src/PIC_Master.X/nbproject/Makefile-genesis.properties

pic_master/src/PIC_Master.X/nbproject/Makefile-local-UseXC8.mk

*.mk

pic_master/src/PIC_Master.X/nbproject/Makefile-UseXC8.mk

pic_master/src/PIC_Master.X/nbproject/private/configurations.xml

pic_master/src/PIC_Master.X/nbproject/project.xml

*.swp

*.elf

pic_master/src/PIC_Master.X/nbproject/private/private.xml

arm/RTOSDemo/ObjectFiles/RTOSDemo.elf

arm/RTOSDemo/MainFiles/.i2cTemp.c.swp

*.swp

Master_PIC_Instrumentation/{$088A1002-$01}.1122

Master_PIC_Instrumentation.dvdat

*.p1

*.p1

*.elf

*.hex

*.hxl

*.obj

*.rlf

*.sdb

*.sym

*.cmf

*.elf

*.discard

pic_master/src/PIC_Master.X/nbproject/Makefile-genesis.properties

*.properties

*.p1

*.pre

*.xml

pic_comm/src/PIC_Master.X/nbproject/configurations.xml

*.properties

pic_comm/src/PIC_Master.X/nbproject/Makefile-genesis.properties

*.mk

pic_comm/src/PIC_Master.X/nbproject/Makefile-local-UseXC8.mk

*.mk

pic_comm/src/PIC_Master.X/nbproject/Makefile-UseXC8.mk

pic_comm/src/PIC_Master.X/nbproject/private/configurations.xml

pic_comm/src/PIC_Master.X/nbproject/project.xml

*.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/debug.p1

*.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/debug.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/interrupts.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/interrupts.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/main.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/main.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/messages.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/messages.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/my_i2c.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/my_i2c.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/my_uart.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/my_uart.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/timer0_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/timer0_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/timer1_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/timer1_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/uart_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/uart_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/user_interrupts.p1

pic_comm/src/PIC_Master.X/build/UseXC8/debug/_ext/1360937237/user_interrupts.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/debug.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/debug.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/interrupts.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/interrupts.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/main.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/main.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/messages.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/messages.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/my_i2c.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/my_i2c.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/my_uart.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/my_uart.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/timer0_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/timer0_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/timer1_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/timer1_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/uart_thread.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/uart_thread.pre

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/user_interrupts.p1

pic_comm/src/PIC_Master.X/build/UseXC8/production/_ext/1360937237/user_interrupts.pre

*.cmf

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.cmf

*.hxl

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.hxl

*.obj

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.obj

*.rlf

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.rlf

*.sdb

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.sdb

*.sym

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.sym

*.cmf

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.cmf

*.elf

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.elf

*.hex

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.hex

*.elf

pic_comm/src/PIC_Master.X/dist/UseXC8/debug/PIC_Master.X.debug.elf

*.hxl

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.hxl

*.obj

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.obj

*.rlf

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.rlf

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.sdb

pic_comm/src/PIC_Master.X/dist/UseXC8/production/PIC_Master.X.production.sym

pic_comm/src/PIC_Master.X/l.obj
